.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(42, 48, 65);
  color: white;
}

.route-links{
  width: 40%;
  display: flex;
  justify-content: flex-end;

  align-items: center;
  list-style: none;
}

.container{
  justify-items: center;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  padding: 10px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #31477f;
}

.btn {
  min-width: 200px;
  width: 30%;
  margin-top: 35px;
  padding: 20px;
  outline: 0;
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: #31477f;
  cursor: pointer;
}

.btn:hover{
  background-color: #395293;
}